# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - base_link1_joint
      - link1_link2p1_joint
      - link2p3_link3_joint
      - link3_link4_joint
      - link4_link5_joint
      - link5_link6_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity